@media screen and (min-width: 1024px) {
  .projects > h2 {
    margin-left: 10rem;
  }
}

.project-card {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.project-image {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  width: 500px;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 87%;
  background-color: white;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-overlay > div > h3 {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  bottom: 38px;
  font-family: Times, "Times New Roman", Georgia, serif;
}

.project-overlay > div > p {
  font-size: 26px;
  position: relative;
  bottom: 62px;
  font-family: URW Chancery L, cursive;
}

.project-card:hover {
  transform: scale(0.8);
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
