.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
  

@media screen and (min-width: 320px) {  
    .footer {
      width: 193vw;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
      width: 100vw;
      padding: 12px;
    }
    
}